body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  width: 100%;
  max-width: 1200px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  line-height: 1.2;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-image: initial;
  border-radius: 8px;
  outline: none;
}

.locate {
  position: absolute;
  padding-top: 1em;
  /* top: 1rem;
  right: 32%; */
  background: none;
  border: none;
  z-index: 1;
  display: inline-block;
}

.locate img {
  width: 60px;
  cursor: pointer;
}
